[submodule "subprojects/cxxopts"]
	path = subprojects/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "subprojects/cpptoml"]
	path = subprojects/cpptoml
	url = https://github.com/skystrife/cpptoml.git
[submodule "subprojects/leptonica"]
	path = subprojects/leptonica
	url = https://github.com/DanBloomberg/leptonica
[submodule "subprojects/tesseract"]
	path = subprojects/tesseract
	url = https://github.com/tesseract-ocr/tesseract
